<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,394}</string>
                <key>spriteSourceSize</key>
                <string>{414,394}</string>
                <key>textureRect</key>
                <string>{{413,391},{414,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,391}</string>
                <key>spriteSourceSize</key>
                <string>{414,391}</string>
                <key>textureRect</key>
                <string>{{427,0},{414,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,394}</string>
                <key>spriteSourceSize</key>
                <string>{414,394}</string>
                <key>textureRect</key>
                <string>{{0,785},{414,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,393}</string>
                <key>spriteSourceSize</key>
                <string>{413,393}</string>
                <key>textureRect</key>
                <string>{{0,391},{413,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{427,379}</string>
                <key>spriteSourceSize</key>
                <string>{427,379}</string>
                <key>textureRect</key>
                <string>{{0,0},{427,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,413}</string>
                <key>spriteSourceSize</key>
                <string>{421,413}</string>
                <key>textureRect</key>
                <string>{{414,785},{421,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>side.png</string>
            <key>size</key>
            <string>{841,1198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c5895ae5af02286f0b2dcb37c243f77:518634f482b0e35ad15c190094fd8700:34fc19726cffe080c52fe4b395647eab$</string>
            <key>textureFileName</key>
            <string>side.png</string>
        </dict>
    </dict>
</plist>
