<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,384}</string>
                <key>spriteSourceSize</key>
                <string>{448,384}</string>
                <key>textureRect</key>
                <string>{{0,0},{448,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,384}</string>
                <key>spriteSourceSize</key>
                <string>{492,384}</string>
                <key>textureRect</key>
                <string>{{448,0},{492,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{459,378}</string>
                <key>spriteSourceSize</key>
                <string>{459,378}</string>
                <key>textureRect</key>
                <string>{{0,384},{459,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,378}</string>
                <key>spriteSourceSize</key>
                <string>{474,378}</string>
                <key>textureRect</key>
                <string>{{459,384},{474,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,379}</string>
                <key>spriteSourceSize</key>
                <string>{461,379}</string>
                <key>textureRect</key>
                <string>{{0,762},{461,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,399}</string>
                <key>spriteSourceSize</key>
                <string>{460,399}</string>
                <key>textureRect</key>
                <string>{{461,762},{460,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up.png</string>
            <key>size</key>
            <string>{940,1161}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebad7ba16f55da600ec9ce7b18077d7c:2484d2459df9304cb5027c92c64d5dc3:c21be1cf162a290cd45875df3f8a51a9$</string>
            <key>textureFileName</key>
            <string>up.png</string>
        </dict>
    </dict>
</plist>
