<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{723,629}</string>
                <key>spriteSourceSize</key>
                <string>{723,629}</string>
                <key>textureRect</key>
                <string>{{0,0},{723,629}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{848,785}</string>
                <key>spriteSourceSize</key>
                <string>{848,785}</string>
                <key>textureRect</key>
                <string>{{732,1258},{848,785}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{804,830}</string>
                <key>spriteSourceSize</key>
                <string>{804,830}</string>
                <key>textureRect</key>
                <string>{{1580,1258},{804,830}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{723,629}</string>
                <key>spriteSourceSize</key>
                <string>{723,629}</string>
                <key>textureRect</key>
                <string>{{723,0},{723,629}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{723,629}</string>
                <key>spriteSourceSize</key>
                <string>{723,629}</string>
                <key>textureRect</key>
                <string>{{1446,0},{723,629}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{723,629}</string>
                <key>spriteSourceSize</key>
                <string>{723,629}</string>
                <key>textureRect</key>
                <string>{{2169,0},{723,629}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{723,629}</string>
                <key>spriteSourceSize</key>
                <string>{723,629}</string>
                <key>textureRect</key>
                <string>{{0,629},{723,629}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{723,629}</string>
                <key>spriteSourceSize</key>
                <string>{723,629}</string>
                <key>textureRect</key>
                <string>{{723,629},{723,629}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{723,629}</string>
                <key>spriteSourceSize</key>
                <string>{723,629}</string>
                <key>textureRect</key>
                <string>{{1446,629},{723,629}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{723,629}</string>
                <key>spriteSourceSize</key>
                <string>{723,629}</string>
                <key>textureRect</key>
                <string>{{2169,629},{723,629}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{732,720}</string>
                <key>spriteSourceSize</key>
                <string>{732,720}</string>
                <key>textureRect</key>
                <string>{{0,1258},{732,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fire.png</string>
            <key>size</key>
            <string>{2892,2088}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fe88ebe0f6196232271481f415c1130:9c8b9f32aa91370e8e1171dff1ad21ec:0bb5bce7cb5efcf05dfe712e64a0ca66$</string>
            <key>textureFileName</key>
            <string>fire.png</string>
        </dict>
    </dict>
</plist>
