<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,562}</string>
                <key>spriteSourceSize</key>
                <string>{425,562}</string>
                <key>textureRect</key>
                <string>{{0,0},{425,562}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fight_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,642}</string>
                <key>spriteSourceSize</key>
                <string>{402,642}</string>
                <key>textureRect</key>
                <string>{{425,0},{402,642}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fight_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{763,535}</string>
                <key>spriteSourceSize</key>
                <string>{763,535}</string>
                <key>textureRect</key>
                <string>{{0,642},{763,535}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fight.png</string>
            <key>size</key>
            <string>{827,1177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af3e6370fe99dd426fcdb773e2b29353:41e01a054c5199a2f16379843731fdc7:61dd7437dcad0349b25f7fe12580d28d$</string>
            <key>textureFileName</key>
            <string>fight.png</string>
        </dict>
    </dict>
</plist>
