<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stun_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,710}</string>
                <key>spriteSourceSize</key>
                <string>{430,710}</string>
                <key>textureRect</key>
                <string>{{0,0},{430,710}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stun_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,710}</string>
                <key>spriteSourceSize</key>
                <string>{430,710}</string>
                <key>textureRect</key>
                <string>{{430,0},{430,710}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stun_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,710}</string>
                <key>spriteSourceSize</key>
                <string>{430,710}</string>
                <key>textureRect</key>
                <string>{{860,0},{430,710}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stun_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,710}</string>
                <key>spriteSourceSize</key>
                <string>{430,710}</string>
                <key>textureRect</key>
                <string>{{0,710},{430,710}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stun_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,710}</string>
                <key>spriteSourceSize</key>
                <string>{430,710}</string>
                <key>textureRect</key>
                <string>{{430,710},{430,710}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stun_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,710}</string>
                <key>spriteSourceSize</key>
                <string>{430,710}</string>
                <key>textureRect</key>
                <string>{{860,710},{430,710}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stun.png</string>
            <key>size</key>
            <string>{1290,1420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fe40c64932318de4b1b298ee3474f50:a9dca650502b797856a1410129e4e64b:288be72ae610a2bb090241af2a892b11$</string>
            <key>textureFileName</key>
            <string>stun.png</string>
        </dict>
    </dict>
</plist>
