<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{106,114}</string>
                <key>textureRect</key>
                <string>{{114,0},{106,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,114}</string>
                <key>spriteSourceSize</key>
                <string>{92,114}</string>
                <key>textureRect</key>
                <string>{{220,0},{92,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,114}</string>
                <key>spriteSourceSize</key>
                <string>{85,114}</string>
                <key>textureRect</key>
                <string>{{312,0},{85,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,114}</string>
                <key>spriteSourceSize</key>
                <string>{74,114}</string>
                <key>textureRect</key>
                <string>{{397,0},{74,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,112}</string>
                <key>spriteSourceSize</key>
                <string>{79,112}</string>
                <key>textureRect</key>
                <string>{{471,0},{79,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,114}</string>
                <key>spriteSourceSize</key>
                <string>{85,114}</string>
                <key>textureRect</key>
                <string>{{550,0},{85,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,114}</string>
                <key>spriteSourceSize</key>
                <string>{90,114}</string>
                <key>textureRect</key>
                <string>{{635,0},{90,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,111}</string>
                <key>spriteSourceSize</key>
                <string>{100,111}</string>
                <key>textureRect</key>
                <string>{{725,0},{100,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,111}</string>
                <key>spriteSourceSize</key>
                <string>{108,111}</string>
                <key>textureRect</key>
                <string>{{825,0},{108,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,111}</string>
                <key>spriteSourceSize</key>
                <string>{113,111}</string>
                <key>textureRect</key>
                <string>{{933,0},{113,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,109}</string>
                <key>spriteSourceSize</key>
                <string>{114,109}</string>
                <key>textureRect</key>
                <string>{{1046,0},{114,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Diamond.png</string>
            <key>size</key>
            <string>{1160,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3806a2b3d2af995540e5307e9a03f6a6:43716216b30dc6fd22a482798f91f24c:1936cfc37eed3beab32d645b8345b4b7$</string>
            <key>textureFileName</key>
            <string>Diamond.png</string>
        </dict>
    </dict>
</plist>
